In [3]:
import numpy as np
import pandas as pd

ctcf = pd.read_table('dcic/CtcfCtrl.mm9__VS__InputCtrl.mm9.narrowPeak_with_motif.txt.gz')
ctcf.head()

,chrom,start,end,name,score,strand,fc,-log10p,-log10q,relSummit,chrom_m,start_m,end_m,name_m,score_m,strand_m,pval_m
0,chr14,73909345,73910139,Peak_1,2864,.,66.97627,286.44055,277.00751,386,chr14,73909703,73909716,CTCF_mouse,12.8061,-,1.610000e-05
1,chr8,73292691,73293764,Peak_10,2288,.,59.05101,228.89639,222.17598,738,chr8,73293454,73293467,CTCF_mouse,14.2242,+,6.080000e-06
2,chr10,99078331,99079198,Peak_100,1567,.,40.02444,156.79012,151.30066,303,chr10,99078650,99078663,CTCF_mouse,19.7758,+,6.020000e-08
3,chr19,44437901,44438397,Peak_1000,741,.,20.84388,74.12866,69.69677,273,chr19,44438190,44438203,CTCF_mouse,15.1212,-,3.280000e-06
4,chr1,145853760,145854152,Peak_10000,355,.,12.38549,35.59266,32.22501,189,chr1,145853924,145853937,CTCF_mouse,17.6242,+,3.710000e-07

In [2]:
sites = ctcf.sort_values('fc', ascending=False).iloc[:1000]
sites.head()

,chrom,start,end,name,score,strand,fc,-log10p,-log10q,relSummit,chrom_m,start_m,end_m,name_m,score_m,strand_m,pval_m
39612,chr2,28440591,28441124,Peak_7,2444,.,67.20400,244.48576,237.52400,289,chr2,28440889,28440902,CTCF_mouse,17.1879,+,5.530000e-07
0,chr14,73909345,73910139,Peak_1,2864,.,66.97627,286.44055,277.00751,386,chr14,73909703,73909716,CTCF_mouse,12.8061,-,1.610000e-05
8403,chr12,85930537,85931240,Peak_18,2221,.,66.84265,222.16884,215.60326,320,chr12,85930837,85930850,CTCF_mouse,17.9212,+,2.800000e-07
5278,chr11,78267090,78267719,Peak_15,2240,.,66.48611,224.05933,217.43312,301,chr11,78267350,78267363,CTCF_mouse,17.9636,-,2.770000e-07
40800,chr11,98203663,98204470,Peak_8,2370,.,65.88831,237.03339,230.20671,426,chr11,98204100,98204113,CTCF_mouse,20.5697,-,2.070000e-08

In [4]:
sites = pd.read_table('dcic/ctcf-sites.paired.300kb_flank10kb.tsv')
sites.head()

,chrom1,mid1,chrom2,mid2,strand1,strand2,fc1,fc2,fc.mean
0,chr11,98204106,chr11,98616156,+,-,65.88831,24.07128,44.979795
1,chr2,28059968,chr2,28440895,+,-,19.02409,67.20400,43.114045
2,chr8,72907381,chr8,73293460,+,-,20.95387,59.05101,40.002440
3,chr7,74373976,chr7,74775933,+,-,20.11571,59.53191,39.823810
4,chr9,77444340,chr9,77854657,+,-,59.96497,19.14067,39.552820